@model IEnumerable<FinaPay.Models.SubFinalPayHeadDetail>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pt-4">
    <div class="col-6">
        <h4>  <span class="label label-default">Approved/Forwarded List</span></h4>
    </div>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading "></div>
    <div class="panel-body">
        <p>
            <span class="text-warning">අවසන් වැටුප් සකස් කිරීමට නියමිත නාවික පුද්ගලයින්ගේ විස්තර ඇතුලත් කරන ලද ලැයිස්තුව.
            </span>
        </p>

    </div>
</div>
<table class=" table table-hover" id="datatablesSimple">
    <thead>
        <tr class="table-secondary">
            <th>
                @Html.DisplayNameFor(model => model.TransId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SysCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DischargeDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseCode)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-dark">
                <td>
                    @Html.DisplayFor(modelItem => item.TransId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SysCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CatCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficialNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgReference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DischargeDt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseCode)
                </td>               
            </tr>
        }
    </tbody>
</table>




