@model IEnumerable<FinaPay.Models.SubFinalPayHeadDetail>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




    <div class="row pt-4">
        <div class="col-6">
            <h4>  <span class="label label-default">Add Retired/Discharge/Resicom/Death Naval Person</span></h4>
        </div>
        <div class="col-6 text-end">
            <p>
                <a asp-controller="PayOffice" asp-action="InitialEntry" type="button" class="btn btn-outline-primary">
                    <i class="bi bi-person-plus-fill"></i> &nbsp;Add New Record
                </a>
            </p>
        </div>
    </div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading "></div>
    <div class="panel-body">
        <p> <span class="text-warning">අවසන් වැටුප් සකස් කිරීමට නියමිත නාවික පුද්ගලයින්ගේ විස්තර ඇතුලත් කිරීම  </span> <span class="text-bg-info">Add New Record</span><span class="text-warning">  ලිංකුව තුලින් පිවිස සිදුකල යුතුය.ඔබ විසින් ඇතුලත් කරන ලද නාවික පුද්ගලයින් අයකර ගැනීම් ඉදිරිපත් 
            කිරීම සදහා අනෙකුත් ආයතන වලට දිස්වීම සිදුවේ.එම නිසා අවසන් වැටුප් සකස් කිරීමට නියමිත නාවිකයින්ගේ විස්තර නොපමාව ඇතුලත් කල යුතුය.
        </span></p>

    </div>
</div>
<table class=" table table-hover">
    <thead>
        <tr class="table-secondary">
            <th>
                @Html.DisplayNameFor(model => model.TransId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SysCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DischargeDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChequeNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChequeDt)
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.PaymentDt)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ActionComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="table-dark">
            <td>
                @Html.DisplayFor(modelItem => item.TransId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SysCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficialNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DischargeDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChequeNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChequeDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDt)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.ActionComplete)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                <div class="row">
                    <button type="button" class="btn btn-outline-primary" style="width:60px">Edit</button> |
                        <button type="button" class="btn btn-outline-danger" style="width:75px">Delete</button>|
                    <button type="button" class="btn btn-outline-warning" style="width:75px">Details</button>
                </div>

            </td>
        </tr>
        }
    </tbody>
</table>




