@model IEnumerable< FinaPay.Contract.RecoveryCheckContract>

@{
    ViewData["Title"] = "RecoveryReceivedList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Recovery Received List</h1>
<table class=" table table-hover">
    <thead>
        <tr class="table-secondary">
            <th>
                @Html.DisplayNameFor(model => model.TransID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SysCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DischargeDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pending)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.IsPending)
            </th>
          
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-dark">
            <td>
                    @Html.DisplayFor(modelItem => item.TransID)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.SysCode)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CatCode)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.OfficialNo)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DischargeDt)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Pending)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPending)
            </td>
            
        </tr>
}
    </tbody>
</table>

