@model IEnumerable< FinaPay.Contract.RecoveryCheckContract>

@{
    ViewData["Title"] = "Recovery Received List- SSO(SM)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <div class="page-header">
            <h2>All Received Recoveries (from SSO(SM)) </h2>
        </div>
<table id="datatablesSimple" class=" table table-striped">
    <thead>
        <tr class="table-secondary">
            <th>
                @Html.DisplayNameFor(model => model.TransID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SysCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DischargeDt)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th> 
           
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr class="table-secondary">
            <th>
                @Html.DisplayNameFor(model => model.TransID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SysCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DischargeDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>

            <th></th>
        </tr>
    </tfoot>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-dark">
            <td>
                    @Html.DisplayFor(modelItem => item.TransID)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.SysCode)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CatCode)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.OfficialNo)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DischargeDt)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>          
            <td>
                <a asp-controller="PayOffice" asp-action="EditAuth" asp-route-id="@item.TransID" type="button" class="btn btn-outline-primary">
                        <i class="glyphicon glyphicon-plus-sign"></i> Details
                    </a>                  
            </td>
        </tr>}
    </tbody>
</table>

