@model IEnumerable< FinaPay.Contract.RecoveryCheckContract>

@{
    ViewData["Title"] = "RecoveryReceivedList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="mt-4">Recovery Received List - Action Taken</h1>
<br />

<div class="card mb-4">
    <div class="card-body">

        නාවික පුද්ගලයාට අදාලව ඔබ ආයතනයේ ඉදිරිපත් කල හැකි අයකර ගැනීම් තෝරා ගැනීමට පහසුකම් සපයා ඇති අතර, කිසිදු අයකර ගැනීමක් නොමැතිනම් අනිවාර්යයෙන්ම  <span class="text-bg-info">Nill Report</span>
        තෝරා අදාල දත්ත පුරවා ඉදිරිපත් කිරීමට කටයුතු තල යුතුය.ඉදිරිපත් කරන
        <span class="text-bg-info">Nill Report</span> සමග වෙනත් අයකර ගැනීම් නොඑවීමට වගබලා ගත යුතුය.

    </div>
</div>


<table id="datatablesSimple" class=" table table-hover">
    <thead>
        <tr class="table-secondary">
            <th>
                @Html.DisplayNameFor(model => model.TransID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SysCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DischargeDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pending)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPending)
            </th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr class="table-secondary">
            <th>
                @Html.DisplayNameFor(model => model.TransID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SysCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DischargeDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pending)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPending)
            </th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-dark">
                <td>
                    @Html.DisplayFor(modelItem => item.TransID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SysCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CatCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficialNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DischargeDt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pending)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPending)
                </td>
                <td>

                    <a asp-controller="SSOSM" asp-action="DetailsA" asp-route-id="@item.TransID" type="button" class="btn btn-outline-primary">
                        <i class="glyphicon glyphicon-plus-sign"></i> &nbsp;Details
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>

