@model IEnumerable<FinaPay.Contract.RecoveryCheckDetailContract>
@{
    ViewData["Title"] = "Check and Forward";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-4">All Received Recoveries</h1>
<br />

<div class="card mb-4">
    <div class="card-body">

        නාවික පුද්ගලයාට අදාලව ඉදිරිපත් කර ඇති අයකර ගැනීම් පහත වගුවේ නිරීක්ෂණය කල හැකි අතර සියළු අයකර ගැනීම් ඉදිරිපත් කරන ආයතන විසින් අයකර ගැනීම් ඉදිරිපත් කර ඇතිනම් SSO (SM) හී ලේකම් රාජකාරිය සිදු කරන නිලධාරියා හට අදාළ අයකර ගැනීම් Forward ලිංකුව මගින් ඉදිරිපත් කල හැක.Reject ලිංකුව Click කිරීම තුලින් එම දෙපාර්තමේන්තුව ඉදිරිපත් කල සියළු අයකර ගැනීම් ප්‍රතික්ෂේප කල හැක. 

    </div>
</div>

<div class="row pt-4">

  
    <div class="col-2 text-end">
        <h6>  <span class="label label-default "> TransId : @ViewBag.Message</span></h6>


    </div>
    


    <div class="col-10 text-end">
        <p>
            <a asp-controller="Home" asp-action="RecoveryCheck" type="button" class="btn btn-outline-primary">
                <i class="bi bi-arrow-return-left"></i> &nbsp;Back &nbsp;&nbsp;
            </a>
      
   
            <a asp-controller="SSOSM" asp-action="ForwardRecovery" asp-route-id="@ViewBag.Message" type="button" class="btn btn-outline-primary">
                <i class="bi bi-save2"></i> &nbsp;Forward
            </a>
        </p>
    </div>


</div>
<div class="row">
    <p class="text-danger"> @ViewBag.Error </p>

</div>



<table id="datatablesSimple" class=" table table-hover">
    <thead>
        <tr class="table-secondary">
            <th>
                @Html.DisplayNameFor(model => model.TransID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-dark">
                <td>
                    @Html.DisplayFor(modelItem => item.TransID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.ActionLink("Reject","RecReject","SSOSM",new{id=@ViewBag.Message, UnitId= @item.UnitId})
                   
                </td>



            </tr>
        }
    </tbody>
</table>

